/* Original MPDS skin */

.sky{background:repeating-linear-gradient(60deg, #fff, #fff 44%, rgba(255,255,255,0) 44%, rgba(255,255,255,0) 78%), linear-gradient(to bottom, #DBF2FF 0%, #fff 9%);background-attachment:fixed;}
#logo_l{margin-left:20px;width:220px;font-size:3em;text-align:right;padding-top:38px;letter-spacing:24px;color:#555;}
#logo{background:url(/wm_logo_opt.png) center center no-repeat;background-size:85%;}
#logo_r{margin-left:15px;}

.wmbutton{border:1px solid #3e3f95;background:#3e3f95;}
#hierarchy_trigger, #inquiry_gui_trigger, #inquiry_api_trigger{background:#f90;border:1px solid #f90;}
div.inquirybox > label{color:#3e3f95;}

#intro_stats > div > div > span{color:#ffb302;}
#intro_stats > div > div.a > span{color:#acc2b3;}
#intro_stats > div > div.b > span{color:#6d55ae;}
#intro_stats > div > div.d > span{color:#f00;}
#intro_stats > div > div.g > span{color:#ffb302;}
#intro_stats > div > div.a > div.stat_icon{border:3px solid #acc2b3;}
#intro_stats > div > div.b > div.stat_icon{border:3px solid #6d55ae;}
#intro_stats > div > div.c > div.stat_icon{border:3px solid #ffb302;}
#intro_stats > div > div.d > div.stat_icon{border:3px solid #f00;}
#intro_stats > div > div > div.mlsym{border:3px solid #ffb302;}
#intro_stats > div > div > div.ab_initio{border:3px solid #ffb302;color:#ffb302;}

div.advs.advs_formulae > div{color:#acc2b3;}
div.advs.advs_formulae > input{border:1px solid #acc2b3;}
div.advs.advs_elements > div{color:#acc2b3;}
div.advs.advs_elements > input{border:1px solid #acc2b3;}
div.advs.advs_aeatoms > div{color:#acc2b3;}
div.advs.advs_aeatoms > input{border:1px solid #acc2b3;}
div.advs.advs_lattices > div{color:#3e3f95;}
div.advs.advs_lattices > input{border:1px solid #3e3f95;}
div.advs.advs_sgs > div{color:#3e3f95;}
div.advs.advs_sgs > input{border:1px solid #3e3f95;}
div.advs.advs_protos > div{color:#3e3f95;}
div.advs.advs_protos > input{border:1px solid #3e3f95;}
div.advs.advs_aetypes > div{color:#3e3f95;}
div.advs.advs_aetypes > input{border:1px solid #3e3f95;}
div.advs.advs_authors > div{color:#3e3f95;}
div.advs.advs_authors > input{border:1px solid #3e3f95;}

a.resolve_ref{color:#3e3f95;border-bottom:1px solid #3e3f95;}

#history > ul > li > a{color:#3e3f95;border-bottom:1px solid #3e3f95;}
div.examples > ul > li > a{color:#3e3f95;border-bottom:1px solid #3e3f95;}

.new_rfn_facet.fct_elements{background:#fff;}
.new_rfn_facet.fct_lattices{background:#fff;}
.fct_lattices, .fct_sgs, .fct_protos{background:#3e3f95;}
.fct_elements, .fct_formulae, .fct_aeatoms, .fct_aetypes{background:#acc2b3;}

#sim_col > ul > li:hover, #sim_col > ul > li.selected{background:#3e3f95;}
#own_phase a span, #sim_legend a span{color:#3e3f95;border-bottom:1px solid #3e3f95;font-size:1.05em;line-height:1.4em}
#userbox span.symicon{color:#3e3f95;padding:0 4px;}
#hy_scalars span{color:#acc2b3;border-bottom:1px dotted #acc2b3;}

#selling_gui{background:url(/wm_logo_opt.png) 50px 0 no-repeat;background-size:15%;}
div.product_types ul li span.plus{color:#acc2b3;}
#ml_data a{text-decoration:none;color:#3e3f95;border-bottom:1px solid #3e3f95;}

#fdwidget_yes{color:#acc2b3;border:1px solid #acc2b3;}
#fdwidget_no{color:#E36868;border:1px solid #E36868;}

#preloader > div.rect1{background:#6d55ae;}
#preloader > div.rect4{background:#acc2b3;}
#preloader > div.rect5{background:#6d55ae;}
